<form action="shorten" method="post">
  <p class="my-2 text-white">Input long url that You want to shorten</p>
  <div class="pt-3">
    <input class="p-2 rounded border border-transparent focus:border-green-light w-2/5" type="text" name="url" />
    <button class="p-2 rounded border border-green font-bold bg-green text-white hover:bg-green-light" type="submit">Shorten</button>
  </div>
</form>
