<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet"/>
  </head>
  <body class="bg-black font-mono text-white h-full flex items-center justify-center">
    <div class="flex flex-col items-center">
      <p class="text-5xl">404</p>
      <p>Page not found</p>
    </div>
  </body>
</html>
